


.mapContainer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.info {

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    left: 20px;
    padding: 10px;
    position: fixed;
    top: 20px;
    z-index: 99;
}